@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html {
    scroll-behavior: smooth;
}

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
}

header li, header a, h1 {
    font-size: 1.2rem;
    color: #edf0f1;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #24252A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    padding: 1.5em 0;
}

h1 {
    font-size: 1.7rem;
}

.nav-tabs {
    list-style: none;
}

.nav-tabs li {
    display: inline-block;
    margin: 0px 20px;
}

.nav-tabs li a {
    transition: all 0.3s ease 0s;
    position: relative;
}

.nav-tabs li a:hover {
    color: rgba(0, 136, 169, 1);
}

.nav-tabs li a::after {
    content: "";
    width: 0%;
    height: 0.2em;
    background-color: rgba(0, 136, 169, 1);
    position: absolute;
    left: 0;
    bottom: -0.6em;
    transition: 0.3s ease;
}

.nav-tabs li a:hover::after {
    width: 100%;
}

nav .fas {
    display: none;
}

button {
    padding: 5px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#AboutMe {
    padding: 5em 0em;
    background-color: #f3efec;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}


.text {
    width: 48%;   
}

.title {
    display: inline-block;
    margin: 0.5em 0em;
    padding: 0.3em 1em;
    background-color: rgb(0, 136, 169);
    border-radius: 1em;
    color: #fff;
    text-align: center;
}

h3 {
    line-height: 1.5em;
    text-align: justify;
}

#Experiences {
    padding: 3em 3em 2em 4em;
}

#Experiences div .title {
    margin-left: 7em;
}

#Experiences .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divider {
    position: absolute;
    left: 2em;
    padding: 0 7rem;
    width: 15vw;
    height: 100%;
    border-right: 3px solid #cbcbcb;
}

.job {
    margin: 2em;
    display: flex;
    justify-content: flex-start;
}

.job-left {
    position: relative;
    display: flex;
}

.job-time {
    padding: 0 7rem;
    width: 15vw;
    text-align: center;
}

.dot {
    position: absolute;
    right: -15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #cbcbcb;
}

.job-description {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    text-align: left;
    width: max-content
}

.job-position {
    color: #909090;
    font-size: 1.2rem;
    margin: 0.5em 0;
}

.job-detail {
    margin-left: 18px;
    font-size: 1.2rem;
}

#Projects {
    background-color: #f3efec;
    padding: 2.4em 5em;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4em 0em;
}

.card {
    height: 32rem;
    width: 24rem;
    padding: 1em 1.5em;
    margin: 1em;
    background-color: #ffffff;
    border-radius: 2em;
    transition: all 0.3s ease;
}

.card i {
    font-size: 3rem;
    color:rgba(0, 136, 169, 1);
    margin: 0.2em;
}

.card .item {
    font-size: 1.5rem;
    margin: 1em 0em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .content {
    text-align: justify;
    width: 24rem;
    height: 16rem;
    display: flex;
    align-items: center;
}

.content ul, .content ul li {
    margin-left: 10px;
    padding-left: 0px;
}

.content ul li {
    text-decoration: none;
    font-size: 1.2rem;
}

.more button{
    margin-top: 10px;
    background-color: #1a9fac;
    border: 2px solid #1a9fac;
}

.more button:hover {
    color: #1a9fac;
    background-color: #ffffff;
    border: 2px solid #1a9fac;
}

.card:hover {
    background-color: #028894;
    color: #ffffff;
    transform: translateY(-10px);
}

.card:hover i {
    color: #ffffff;
}

#Abilities {
    padding: 2.4em 5em;
    text-align: center;
}

.skill-container {
    display: flex;
}

.skill {
    width: 50%;
    margin: 1em 4em;
}

.skill div dl{
    display: flex;
    justify-content: space-between;
    margin: 1em 0em;
    font-size: 1.2rem;
    font-weight: light;
    cursor: default;
}

.skill div dl:hover dt {
    font-weight: bold;
}

.skill div dl:hover dd{
    color: #ffd622;
}

.skill-group h2 {
    text-align: left;
    font-size: 1.4rem;
    font-weight: bolder;
}

#Contact {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3efec;
}

.contact {
    width: 60%;
    height: 400px;
    padding: 1em;
    border-radius: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.link i {
    font-size: 40px;
    margin: 5px 30px;
    color: #000000;
}

.link a {
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 600px) {
    nav .fas {
        display: block;
        font-size: 1.8rem;
        color: #ffffff;
    }

    nav .nav-tabs {
        background-color: #0088a9;
        position: fixed;
        top: 0;
        right: -50vw;
        width: 50vw;
        height: 100vh;
        padding-top: 3em;
        z-index: 2;
        transition: all 0.5s ease;
    }

    .nav-tabs li {
        display: block;
        margin: 30px;
    }

    .nav-tabs li a:hover {
        color: #fff;
    }

    .nav-tabs li a::after {
        background-color: #fff;
    }

    nav .nav-tabs .fas {
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
    }

    #AboutMe {
        flex-direction: column;
        justify-content: center;
    }

    .pic img {
        width: 200px;
        height: 200px;
        margin-bottom: 2em;
    }

    .title, .job-time {
        font-size: 1.1rem;
    }

    .text {
        text-align: center;
        width: 65%;
    }

    .text h3, .job-detail, .content ul li, .skill div dl {
        font-size: 0.9rem;
    }

    .divider, .dot {
        display: none;
    }

    #Experiences div .title {
        margin: 0;
    }

    .job {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: 1.5em 0;
    }

    .job-time, .job-description {
        padding: 0;
        margin: 0.2em 0;
        width: 100%;
    }

    .job-position {
        font-size: 1.1rem;
        margin: 0.2em 0;
    }
    
    .box {
        flex-direction: column;
        margin: 0 0 1.2em 0;
    }

    .card {
        height: fit-content;
        width: 90%;
        margin: 1em 0;
    }

    .card .item, .skill-group h2 {
        font-size: 1.3rem;
    }

    .card .content {
        width: 100%;
        height: 10rem;
    }

    .skill-container {
        flex-direction: column;
    }
    
    .skill {
        width: 100%;
        margin: 0.8em 0;
    }

    .skill div dl {
        margin: 0.5em 0;
    }

    .contact {
        flex-direction: column;
        width: 80%;
    }

    .link {
        font-size: 1rem;
    }

    .link i {
        font-size: 1.6rem;
    }
}