@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
}

header li, header a, button, h1 {
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #24252A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

h1 {
    font-size: 36px;
}

.nav-tabs {
    list-style: none;
}

.nav-tabs li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-tabs li a {
    transition: all 0.3s ease 0s;
}

.nav-tabs li a:hover {
    color: #0088a9;
}

button {
    padding: 5px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    min-height: 550px;
}

#AboutMe {
    margin: 5em 0em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}


.text {
    width: 48%;   
}

.title {
    display: inline-block;
    margin: 0.5em 0em;
    padding: 0.3em 1em;
    background-color: rgb(0, 136, 169);
    border-radius: 1em;
    color: #fff;
    text-align: center;
}

h3 {
    line-height: 1.5em;
    text-align: justify;
}

#Projects {
    background-color: #f3efec;
    padding: 2.4em 5em;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4em 0em;
}

.card {
    height: 450px;
    width: 400px;
    padding: 25px 30px;
    margin: 30px;
    background-color: #ffffff;
    border-radius: 2em;
}

.card i {
    font-size: 54px;
    color:rgba(0, 136, 169, 1);
    margin: 10px;
}

.card .item {
    font-size: 20px;
    margin: 15px 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .content {
    text-align: justify;
    width: 390px;
    height: 210px;
    display: flex;
    align-items: center;
}

.content ul, .content ul li {
    margin-left: 10px;
    padding-left: 0px;
}

.content ul li{
    text-decoration: none;
}

.more button{
    margin-top: 10px;
    background-color: #1a9fac;
    border: 2px solid #1a9fac;
}

.more button:hover {
    color: #1a9fac;
    background-color: #ffffff;
    border: 2px solid #1a9fac;
}

#ContactMe {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3efec;
}

.contact {
    width: 60%;
    height: 400px;
    padding: 1em;
    border-radius: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.link i {
    font-size: 40px;
    margin: 5px 30px;
    color: #000000;
}

.link a {
    text-decoration: none;
    color: #000000;
}